.movies-container {
    width: 100%;
    height: calc(100vh - 68px);
    padding: 15px 20px;
    background-color: #525252;
    color: #fff;
}

.movies-container h1 {
    font-size: 24px;
    margin-bottom: 50px;
}

.movies-container p {
    font-size: 18px;
    margin-bottom: 15px;
}